@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

.container3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:100vh;
    flex-direction: column;
}
 
.skillsTable {
  width: 80%; 
  display:grid;
  grid-template-rows: 40px 80px 80px 80px 80px 80px 80px;
  grid-template-columns:25% 75%;
  row-gap: 5px;
  column-gap: 5px;
  grid-auto-flow: column;
  align-content: center;
  background-color: rgb(122, 113, 101);
  justify-content: center;
  border: 3px solid rgb(88, 82, 73);
  border-radius: 10px;
}
/*
.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white; 
}
/*  */
.scorehtml {width: 40%; background-color: #4CAF50;} 
.scorecss {width: 50%; background-color: #2196F3;} 
.scorejs {width: 30%; background-color: #f44336;} 
.scorereact {width: 30%; background-color: #808080;} 
.scorephoto{width:45%; background-color: teal;}
.scorenode{width:20%; background-color: yellowgreen; margin-bottom: 5px;}  

#Icon{
    height:70px;
    padding-top: 2px;;
}

.toprow{
  font-family: 'Pacifico';
  color:antiquewhite;
  font-size: x-large;
}

.score{
  display:flex;
  justify-content: center;
  font-family: 'Pacifico';
  color: whitesmoke;
  border-radius: 5px 0px 0px 5px;
  align-content: center;
}

#s{
  align-self: center;
}